form(name="login", action="/login", method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    fieldset 
        legend 
            span Log in
        .field
            label(
                id="email"
                for='email'
                ) Email
            input(
                id='login[email]'
                type='email'
                name='login[email]'
                value=login['email']
                placeholder='you@example.com'
                data-rule-required='true'
                data-msg-required='Please enter your email address'
                )
            label(
                id='login[email]-error'
                for='login[email]').error= errors['login[email]'] ? errors['login[email]'].msg : 'Email is incorrect'
        .field
            label(
                id="password"
                for='password'
                ) Password
            input(
                id='login[password]'
                type='password'
                name='login[password]'
                value=login['password']
                placeholder='*******'
                data-rule-required='true'
                data-msg-required='Please enter your password'
                )
            label(
                id='login[password]-error'
                for='login[password]').error= errors['login[password]'] ? errors['login[password]'].msg : ''
        .field
            label(
                for='login[remember]'
                ) Remember me
            input(
                id='login[remember]'
                type='checkbox'
                name='login[remember]'
                value=login['remember']
                )
            label(
                for='login[remember]'
            )
        .actions
            span
                a(
                    href='/forgot'
                ) forgot your password?
                br
                a(
                    href='/register'
                ) not registered?

            a(
                id='cancel'
                href='/forgot'
            ) Cancel

            input(
                type='submit'
                name='submit'
                value='Login'
                )