form(name="login", action="/login", method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    fieldset 
        legend Investor Portal
        section
            label(
                id="email"
                for='email'
                ) Email
            input(
                id='login[email]'
                type='email'
                name='login[email]'
                value=login['email']
                placeholder='you@example.com'
                data-rule-required='true'
                data-msg-required='Please enter your email address'
                )
            label(
                id='login[email]-error'
                for='login[email]').error= errors['login[email]'] ? errors['login[email]'].msg : ''
        section
            label(
                id="password"
                for='password'
                ) Password
            input(
                id='login[password]'
                type='password'
                name='login[password]'
                value=login['password']
                placeholder='*******'
                data-rule-required='true'
                data-msg-required='Please enter your password'
                )
            label(
                id='login[password]-error'
                for='login[password]').error= errors['login[password]'] ? errors['login[password]'].msg : ''
        footer
           input(
                type='submit'
                name='submit'
                value='Login'
                )  
           a(
               href='/forgot'
           ) forgot your password?
           br
           a(
               href='/mailme'
           ) Email a one-time link